.checkout-page{
  padding:80px;
  color:white;
}

.checkout-layout{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
  margin-top:40px;
}

.order-summary{
  background:#111;
  padding:30px;
  border-radius:10px;
}

.summary-item{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

.summary-total{
  display:flex;
  justify-content:space-between;
  margin-top:20px;
  font-size:18px;
}

.checkout-form{
  background:#111;
  padding:30px;
  border-radius:10px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.checkout-form input{
  padding:10px;
  border:none;
  border-radius:5px;
}

.checkout-form button{
  padding:12px;
  background:#f5c518;
  border:none;
  font-weight:bold;
  cursor:pointer;
}